h1 New answer notification
p Hi! The subscribed question got a new answer

h3= link_to('Question', question_url(@question))
div= @question.title
div= @question.body.truncate(200)

h4= 'Answer'
p= @answer.body.truncate(500)
