' Question update notification
= "\r\n" * 2
' #{@greeting + ", You question got a new answer"}

= "\r\n"
' #{question_url(@question) + "\r\n"}
' #{@question.title + "\r\n"}
' #{@question.body.truncate(200) + "\r\n\r\n"}

' #{@answer.body.truncate(500) + "\r\n"}
