= simple_form_for [question, Answer.new], remote: true do |f|
  = f.input :body
  = f.input :files, as: :file, input_html: { multiple: true, direct_upload: true }
  = f.button :submit, t('forms.submit_answer'), class: 'btn btn-secondary'
